.hero-gallery::-webkit-scrollbar {
    height: 20px;
}

.hero-gallery::-webkit-scrollbar-button {
    display: none;
}

.hero-gallery::-webkit-scrollbar-track {
    background-color: var(--color-border);
    border-radius: 5px;
}

.hero-gallery::-webkit-scrollbar-thumb {
    background-color: var(--color-purple);
    border-radius: 5px;
}

/* レスポンシブ */
@media (min-width: 1025px) {
    .hero-gallery::-webkit-scrollbar-thumb:hover {
        background-color: #6500ad;
    }
}

@media (max-width: 1024px) {
    .hero-gallery::-webkit-scrollbar {
        display: none;
    }
}