/* ==========================================================================
  共通
   ========================================================================== */
/* 全体 */
:root {
  --color-purple: #7400C6;
  --color-text: #000000;
  --color-border: #c9c8c8;
  --color-white: #FFFFFF;
  --color-gray: #5b5a5a;
  --small-space: 20px;
  --big-space: 45px;
  --small-font: 16px;
  --midium-font: 18px;
  --big-font: 24px;
  --thin-font: 500;
  --semi-bold-font: 700;
  --bold-font: 900;
  --text-shadow: 0px 5px 5px rgba(0,0,0,0.5);
  --line-height: 2;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.header__logo:focus-visible,
.header__nav-link:focus-visible,
.work-card:focus-visible,
.contact-btn:focus-visible,
.top-link:focus-visible {
  outline: 1px solid var(--color-purple);
  outline-offset: 2px;
  border-radius: 6px;
}

html {
  -webkit-text-size-adjust: 100%;
  scroll-behavior: smooth;
}

body {
  font-family: "Noto Sans JP", system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", sans-serif;
  color: var(--color-text);
  background-color: var(--color-white);
  line-height: var(--line-height);
  -webkit-font-smoothing: antialiased;
  padding: 60px 40px;
  width: 100%;
  max-width: 1360px;
  margin-inline: auto;
}

/* 見出し */
.heading {
  display: flex;
  align-items: center;
  gap: 10px;
  font-size: var(--midium-font);
  font-weight: var(--semi-bold-font);
  margin-bottom: 32px;
}

.heading--sub {
  margin-left: var(--small-space);
  margin-top: var(--big-space);
}

.subheading-plain {
  font-size: var(--midium-font);
  font-weight: var(--semi-bold-font);
  margin-left: var(--big-space);
  margin-top: 70px;
  margin-bottom: var(--small-space);
}

.intro__title {
  display: inline-block;
  font-size: 32px;
  font-weight: var(--bold-font);
  border-bottom: 4px solid var(--color-purple);
  margin-bottom: var(--small-space);
  line-height: 1.5;
}

.process-step > .subheading-plain:first-of-type {
  margin-top: var(--small-space);
}

.heading__bar {
  display: inline-block;
  width: 10px;
  height: 20px;
  background-color: var(--color-purple);
}

.section__sub-bar {
  display: inline-block;
  width: 6px;
  height: 20px;
  background-color: var(--color-purple);
}

.two-row-image-grid-with-heading__label {
  font-size: var(--midium-font);
  font-weight: var(--semi-bold-font);
  margin-bottom: 12px;
}

.tool-box__title {
  font-size: var(--small-font);
  font-weight: var(--semi-bold-font);
  text-align: center;
}

.text-grid__title {
  font-size: var(--small-font);
  font-weight: var(--semi-bold-font);
  margin-bottom: 4px;
}

.work-grid__title {
  font-size: var(--small-font);
  font-weight: var(--semi-bold-font);
  margin-bottom: 12px;
}

/* テキスト */
.body-text {
  font-size: var(--small-font);
  line-height: var(--line-height);
  text-indent: 1em;
  margin-bottom: var(--small-space);
}

.body-text:last-child {
  margin-bottom: 0;
}

.body-text--no-indent {
  text-indent: 0;
}

.work-content {
  padding-left: var(--big-space);
  margin-top: var(--small-space);
}

.line-text {
  border-left: 2px solid var(--color-purple);
  padding-left: var(--small-space);
  margin-left: var(--small-space);
  font-size: var(--small-font);
  line-height: var(--line-height);
}

.top-bottom__center{
  flex: 1;               
  display: flex;
  align-items: center; 
}

.case-hero__eyebrow {
  font-size: var(--big-font);
  font-weight: var(--thin-font);
  margin-bottom: 8px;
}

.text-grid__desc {
  font-size: var(--small-font);
  line-height: var(--line-height);
}

.work-grid__desc {
  font-size: var(--small-font);
  line-height: var(--line-height);
}

/* リンク */
a {
  color: inherit;
  text-decoration: none;
}

.top-link {
  padding: var(--small-space);
  border: 1.5px solid var(--color-purple);
  background-color: var(--color-white);
  color: var(--color-purple);
  position: fixed;
  bottom: 5px;
  right: 5px;
  z-index: 9999;
}

body.scrolled .top-link {
  opacity: 1;
}

/* リスト */
ul {
  list-style: none;
}

.case-hero__media {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 24px;
}

.dash-list {
  display: flex;
  flex-direction: column;
  gap: 12px;
  margin-top: var(--big-space);
}

.dash-list__item {
  display: flex;
  gap: 8px;
  font-size: var(--small-font);
}

.dash-list__dash {
  color: var(--color-purple);
  font-weight: var(--semi-bold-font);
  flex-shrink: 0;
}

.skills-list {
  display: flex;
  flex-wrap: wrap;
  gap: 12px;
  margin-top: var(--small-space);
  justify-content: center;
}

.work-grid__list {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.work-grid__list-item {
  display: flex;
  gap: 8px;
  font-size: var(--small-font);
}

.work-grid__dash {
  color: var(--color-purple);
  font-weight: var(--semi-bold-font);
  flex-shrink: 0;
}

/* 画像 */
img {
  display: block;
  max-width: 100%;
}

.single-image {
  display: block;
  width: 100%;
  max-height: 500px;
  object-fit: contain;
}

.badge {
  width: 20px;
  height: 20px;
  flex-shrink: 0;
}

.three-row-image-grid {
  width: 100%;
  max-height: 200px;
  object-fit: contain;
}

.three-row-image-grid__vertical {
  max-height: 600px;
}

.two-row-image-grid-with-heading__thumb{
  width: 100%;
  object-fit: contain;
  max-height: 600px;
}

.hero-gallery__item {
  flex: 0 0 80%;
  scroll-snap-align: center;
}

.hero-gallery__img {
  width: 100%;
  max-height: 325px;
  object-fit: contain;
}

.top-img {
  width: auto;
  max-height: 270px;
  object-fit: contain;
}

.image-grid__thumb {
  width: 100%;
  object-fit: contain;
}

.two-row-image-grid {
  width: 100%;
  height: 500px;
  object-fit: contain;
  margin-top: var(--small-space);
}

.hero-gallery-smartphone {
  display: flex;
  overflow-x: auto;
  scroll-snap-type: x mandatory;
  scroll-padding-left: 0;
  padding-bottom: 12px;
  gap: 16px;
  max-width: 310px;
}

.hero-gallery-normal{
  display: flex;
  overflow-x: auto;
  scroll-snap-type: x mandatory;
  scroll-padding-left: 0;
  padding-bottom: 12px;
  gap: 16px;
  max-width: 600px;
}

.hero-gallery__smartphone-img{
  max-height: 550px;
}

.two-row-image-grid-with-heading__thumb--smartphone {
  width: 100%;
  object-fit: contain;
}

/* 区切り線 */
.divider {
  border-top: 1px solid var(--color-border);
  margin-top: var(--big-space);
  margin-bottom: var(--big-space);
}

/* ボタン */
.btn {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  border-radius: 6px;
  font-size: var(--small-font);
  font-weight: var(--semi-bold-font);
}

.btn--cta {
  display: inline-flex;
  background-color: var(--color-purple);
  color: var(--color-white);
  font-size: var(--small-font);
  padding: var(--small-space);
  margin-left: var(--big-space);
  min-width: 140px;
}

.btn__hero--cta{
  margin-left: 0;
}

.hero-cta-group {
  display: flex;
  margin-left: 0;
}

/* ヒーローセクション */
.tool-box {
  border: 3px solid var(--color-text);
  border-radius: 6px;
  padding: var(--small-space);
  width: fit-content;
  margin: 0 auto;
  align-items: center;
  display: flex;
  flex-direction: column;
}

.skill-badge {
  display: inline-flex;
  align-items: center;
  gap: 8px;
  border: 2px solid var(--color-purple);
  border-radius: 6px;
  padding: 10px 18px;
  font-size: var(--small-font);
  font-weight: var(--thin-font);
}

.hero-gallery-smartphone::-webkit-scrollbar,
.hero-gallery-normal::-webkit-scrollbar {
  height: 20px;
}

.hero-gallery-smartphone::-webkit-scrollbar-button,
.hero-gallery-normal::-webkit-scrollbar-button {
  display: none;
}

.hero-gallery-smartphone::-webkit-scrollbar-track,
.hero-gallery-normal::-webkit-scrollbar-track {
  background-color: var(--color-border);
  border-radius: 5px;
}

.hero-gallery-smartphone::-webkit-scrollbar-thumb,
.hero-gallery-normal::-webkit-scrollbar-thumb {
  background-color: var(--color-purple);
  border-radius: 5px;
}

/* グリッド */
.text-grid {
  display: grid;
  grid-template-columns: repeat(2, minmax(0, 1fr));
  gap: 50px 40px;
  margin-top: var(--small-space);
}

.text-grid__item {
  border-left: 2px solid var(--color-purple);
  padding-left: var(--small-space);
  display: flex;
  flex-direction: column;
}

.work-grid {
  display: grid;
  grid-template-columns: repeat(2, minmax(0, 1fr));
  gap: 70px 40px;
  margin-left: var(--big-space);
  margin-bottom: var(--small-space);
}

.work-grid__col {
  border-left: 2px solid var(--color-purple);
  padding-left: var(--small-space);
  display: flex;
  flex-direction: column;
}

.image-grid {
  display: grid;
  grid-template-columns: repeat(2, minmax(0, 1fr));
  gap: 32px 40px;
  margin-left: var(--big-space);
  margin-bottom: var(--small-space);
}

.three-row-grid {
  display: grid;
  grid-template-columns: repeat(3, minmax(0, 400px));
  gap: 40px;
  margin-left: var(--big-space);
  margin-top: var(--big-space);
  object-fit: contain;
}

.two-row-image-grid-with-heading {
  display: grid;
  grid-template-columns: repeat(2, minmax(0, 1fr));
  gap: 100px;
  margin: 0 auto;
}

.case-hero {
  display: grid;
  grid-template-columns: repeat(2, minmax(0, 1fr));
  gap: 80px;
  padding-top: var(--big-space);
  padding-bottom: 90px;
}

.two-row-image-grid-with-heading--smartphone {
  display: grid;
  grid-template-columns: repeat(2, minmax(0, 1fr));
  gap: 100px;
  max-width: 700px;
  margin: 0 auto;
}

/* ヘッダー */
.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-bottom: var(--big-space)
}

.header__logo {
  font-size: var(--big-font);
  font-weight: var(--semi-bold-font);
  letter-spacing: 0.03em;
  color: var(--color-text);
}

.header__logo--accent {
  color: var(--color-purple);
}

.header__nav-list {
  display: flex;
  align-items: center;
  gap: 40px;
}

.header__nav-link {
  font-size: var(--big-font);
  font-weight: var(--thin-font);
  color: var(--color-text);
  display: inline-block;
}

.header__nav-link--active {
  text-decoration: underline;
  text-underline-offset: 7px;
  text-decoration-color: var(--color-purple);
  text-decoration-thickness: 1.5px;
}

/* フッター */
footer {
  padding-bottom: var(--big-space);
}

.contact-heading {
  margin-top: 80px;
}

.contact__list {
  display: flex;
  flex-wrap: wrap;
  gap: 16px;
}

.contact-btn {
  gap: 10px;
  min-width: 130px;
  height: 56px;
  background-color: var(--color-purple);
  color: var(--color-white);
}

.contact-btn__icon {
  width: 30px;
  height: 30px;
}

.contact-btn__logo {
  width:auto;
  height:30px;
}

/* レスポンシブ */
@media (max-width: 1300px) {

}

@media (min-width: 1025px) {
  .header__nav-link:hover {
    transform: translateY(-1px);
    text-shadow: var(--text-shadow);
  }

  .header__nav-link--active:hover {
    transform: none;
    text-shadow: none;
  }

  .work-card:hover,
  .contact-btn:hover, 
  .btn--cta:hover {
    transform: translateY(-1px);
    box-shadow: 0px 5px 5px rgba(0,0,0,0.5);
  }

  .hero-gallery-smartphone::-webkit-scrollbar-thumb:hover{
    background-color: #6500ad;
  }

  .top-link:hover {
    background-color: #e8e8e8;
  }
}

@media (max-width: 1024px) {
  .header__nav-link:active {
    transform: translateY(1px);
    text-shadow: var(--text-shadow);
  }

  .header__nav-link--active:active {
    transform: none;
    text-shadow: none;
  }

  .work-card:active,
  .top-link:active {
    transform: translateY(1px);
    background-color: #E8E8E8;
  }

  .contact-btn:active {
    transform: translateY(1px);
    background-color: #6500ad;
  }

  .header__nav-link {
    font-size: 20px
  }

  .intro__title {
    font-size: var(--big-font);
  }

  .case-hero__eyebrow{
    font-size: 20px;
  }

  .top-img {
    height: 100%;
  }
}

@media (max-width: 900px) {
  .three-row-grid {
    grid-template-columns: repeat(1, minmax(0, 1fr));
    margin-left: 0;
  }

  .hero-gallery-smartphone__item {
    flex: 0 0 70%;
  }

  .hero-gallery-smartphone::-webkit-scrollbar,
  .hero-gallery-normal::-webkit-scrollbar {
    display: none;
  }

  .two-row-image-grid-with-heading__thumb--smartphone {
    max-height: 650px;
  }

    .two-row-image-grid-with-heading,
  .two-row-image-grid-with-heading--smartphone {
    grid-template-columns: minmax(0, 1fr);
  }

    .case-hero {
    grid-template-columns: minmax(0, 1fr);
    gap: 40px;
    padding-top: 0;
    grid-template-areas:
    "media"
    "intro";
  }

    .header {
    flex-direction: column;
    gap: 16px;
    padding-bottom: var(--small-space);
    align-items: center;
  }

    .case-hero__intro {
    grid-area: intro;
  }

  .case-hero__media {
    grid-area: media;
  }
}

@media (max-width: 700px) {
  .header__nav-list {
    gap: 24px;
  }

  .intro__title {
    font-size: var(--big-font);
  }

  .intro__lead {
    font-size: var(--small-font);
  }

  .contact__list {
    flex-direction: column;
  }

  .btn {
    width: 100%;
  }

  .top-link {
    position: static;
  }

  .heading--sub,
  .subheading-plain {
    margin-left: 0;
  }

  .work-content {
    padding-left: 0;
  }

  .text-grid {
    grid-template-columns: minmax(0, 1fr);
  }

  .work-grid,
  .image-grid,
  .hmw-grid {
    grid-template-columns: minmax(0, 1fr);
    margin-left: 0;
  }

  .image-grid__thumb {
    width: auto;
    height: auto;
    object-fit: contain;
  }

  .two-row-image-grid {
    width: auto;
    height: auto;
    object-fit: contain;
  }

  .btn--cta,
  .line-text,
  .dash-list {
    margin-left: 0;
  }

  .hero-cta-group {
    gap: 30px;
  }
}

/* ==========================================================================
  作品集ページ
   ========================================================================== */
/* イントロ */
.intro {
  padding-top: var(--big-space);
  padding-bottom: var(--big-space);
}

.intro__lead {
  font-size: var(--small-font);
  font-weight: var(--thin-font);
  color: var(--color-text);
  line-height: var(--line-height);
  margin-bottom: var(--small-space);
}

/* 作品一覧 */
.works-grid {
  display: grid;
  gap: 32px;
}

.works-grid--single {
  grid-template-columns: minmax(0, 500px);
}

.works-grid--three {
  grid-template-columns: repeat(3, minmax(0, 1fr));
}

.work-card {
  border: 2px solid var(--color-purple);
  border-radius: 10px;
  padding: var(--small-space);
  display: flex;
  flex-direction: column;
}

.work-card__thumb {
  width: 100%;
  margin-bottom: var(--small-space);
  display: flex;
  flex: 1;
  align-items: center;
}

.work-card__img {
  width: 100%;
  height: 300px;
  object-fit: contain;
}

.work-card__body {
  display: flex;
  flex-direction: column;
  gap: 12px;
  flex: 1;
}

.work-card__title-row {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 12px;
}

.work-card__title {
  font-size: var(--midium-font);
  font-weight: var(--semi-bold-font);
  color: var(--color-text);
}

.work-card__arrow{
  font-size: 20px;
  color: var(--color-text);
  flex-shrink: 0;
  margin-right: var(--small-space);
}

.works-grid--three,
.work-card__arrow {
  font-size: 20px;
  color: var(--color-text);
  flex-shrink: 0;
  margin-right: 10px;
}

.work-card__tags {
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
}

.work-card__tag {
  display: inline-block;
  font-size: var(--small-font);
  font-weight: var(--thin-font);
  color: var(--color-gray);
  border: 1px solid var(--color-purple);
  border-radius: 999px;
  padding: 4px 14px;
}

/* レスポンシブ */
@media (max-width: 1024px) {
  .works-grid--three {
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }
}

@media (max-width: 700px) {
  .works-grid--three {
    grid-template-columns: minmax(0, 1fr);
  }

  .work-card__title {
    font-size: var(--small-font);
  }
}

/* ==========================================================================
  プロフィールページ
   ========================================================================== */
/* --- イントロ --- */
.profile-affiliation {
  font-size: var(--small-font);
  font-weight: var(--thin-font);
  margin-bottom: 12px;
}

.profile-name {
  font-size: 32px;
  font-weight: var(--bold-font);
  margin-bottom: var(--small-space);
  text-decoration-thickness: 4px;
}

.profile-name ruby {
  ruby-align: center;
}

.profile-name rt {
  font-size: var(--small-font);
  font-weight: var(--thin-font);
  color: var(--color-text);
  letter-spacing: 0.1em;
}

.text-accent {
  color: var(--color-purple);
}

/* --- 経緯 --- */
.timeline {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.timeline__item {
  border-left: 2px solid var(--color-purple);
  padding-left: var(--small-space);
}

.timeline__period {
  font-size: var(--small-font);
  font-weight: var(--thin-font);
  margin-bottom: 4px;
  display: flex;
  gap: 10px;
}

.timeline__desc {
  font-size: var(--small-font);
  line-height: var(--line-height);
}

.timeline__badge {
  width: 20px;
  height: 20px;
  margin-top: 5px ;
}

/* --- 資格 --- */
.qualifications-list {
  display: flex;
  flex-direction: column;
  gap: 18px;
  margin-top: var(--small-space);
}

.qualifications-list__item {
  display: flex;
  align-items: center;
  gap: 10px;
  font-size: var(--small-font);
}

.qualifications-list__dash {
  color: var(--color-purple);
  font-weight: var(--semi-bold-font);
}

.qualifications-note {
  margin-top: var(--big-space);
}


/* ==========================================================================
  学習ページ
   ========================================================================== */
/* --- 学習ロードマップ --- */
.roadmap {
  display: flex;
  flex-direction: column;
  gap: 40px;
  margin-left: 90px;
}

.roadmap-wrapper {
  position: relative;
}

.roadmap__current-line {
  position: absolute;
  display: inline-block;
  height: auto;
  width: 2px;
  background-color: var(--color-purple);
  top: 0;
  bottom: 0;
  left: 55px;
}

.roadmap__current-dot {
  position: absolute;
  display: inline-block;
  height: 10px;
  width: 10px;
  background-color: var(--color-purple);
  border-radius: 50%;
  top: 25px;
  left: -20px;
}

.roadmap__current-marker {
  position: absolute;
  top: 13px;
  left: -73px;
  font-size: var(--small-font);
  font-weight: var(--thin-font);
  color: var(--color-text);
}

.roadmap__item {
  position: relative;
  border-left: 1px solid var(--color-text);
  padding-left: 10px;
  margin-left: -20px;
}

.roadmap__step {
  display: flex;
  align-items: center;
  gap: 8px;
  font-size: var(--small-font);
  font-weight: var(--semi-bold-font);
  margin-bottom: 4px;
}

.roadmap__step-num {
  font-weight: var(--semi-bold-font);
}

.roadmap__desc {
  font-size: var(--small-font);
  line-height: var(--line-height);
}

.roadmap-note {
  margin-top: 80px;
}

/* --- これまでの学習 --- */
.history-grid {
  grid-template-columns: repeat(3, minmax(0, 1fr));
}

/* ==========================================================================
  家庭教師予約アプリ
   ========================================================================== */
/* --- How Might We --- */
.hmw-grid {
  display: grid;
  grid-template-columns: repeat(3, minmax(0, 1fr));
  gap: 32px 40px;
  margin-left: var(--big-space);
  margin-bottom: var(--small-space);
}

.hmw-grid__item {
  border-left: 2px solid var(--color-purple);
  padding-left: var(--small-space);
}

.hmw-grid__question {
  font-size: var(--small-font);
  font-weight: var(--semi-bold-font);
  margin-bottom: 8px;
}

.hmw-grid__answer {
  font-size: var(--small-font);
  color: var(--color-gray);
}

/* レスポンシブ */
@media (max-width: 1024px) {
  .hmw-grid {
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }
}

/* ==========================================================================
  住民票取得アシスト
   ========================================================================== */
/* --- カラー --- */
.color-list {
  border-left: 2px solid var(--color-purple);
  padding-left: var(--small-space);
  display: flex;
  flex-direction: column;
  gap: 8px;
  margin-left: var(--big-space);
}

.color-row {
  display: flex;
  align-items: center;
  gap: 12px;
  font-size: var(--small-font);
}

.color-row__line {
  display: inline-block;
  width: 40px;
  height: 2px;
}

.color-row__hex {
  font-size: var(--midium-font);
  font-weight: var(--semi-bold-font);
}

/* ==========================================================================
  My Apartment Room
   ========================================================================== */
.video-stack {
  display: flex;
  flex-direction: column;
  gap: 200px;
}

.camera__grid{
  max-height: 270px;
}

.room__animation{
  border: 6px solid var(--color-text);
  object-fit: cover;
  width: 80%;
  margin: 0 auto;
}

/* ==========================================================================
  Amethyst Resonance
   ========================================================================== */
.amethyst__top-img{
  max-height: 320px;
  border: 6px solid var(--color-gray);
  object-fit: cover;
}

.amethyst-animation{
  border: 6px solid var(--color-gray);
  object-fit: cover;
  padding: 0;
  max-width: 800px;
  margin: 0 auto;
}

.two-row-image-grid-with-heading__thumb--amethyst-animation{
  border: 6px solid var(--color-gray);
}

/* ==========================================================================
  踊るマジシャン
   ========================================================================== */
.magician__top-img{
  max-height: 320px;
  border: 6px solid var(--color-text);
  object-fit: cover;
}

/* ==========================================================================
  学内清掃
   ========================================================================== */
.work-grid--three {
  grid-template-columns: repeat(3, minmax(0, 1fr));
}

.work-grid__thumb {
  width: 100%;
  object-fit: contain;
}

.two-row-image-grid-with-heading__under-thumb{
  margin-top: var(--big-space);
}

.ordered-list {
  list-style: decimal;
  padding-left: 20px;
  font-size: var(--small-font);
  line-height: var(--line-height);
}

/* レスポンシブ */
@media (max-width: 1024px) {
  .work-grid--three {
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }
}

@media (max-width: 700px) {
  .work-grid--three {
    grid-template-columns: minmax(0, 1fr);
  }
}